@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.logoHome {
    height: 500px;
    width: 650px;
    background: url("https://i.imgur.com/a46x8Ru.png");
    background-size: cover;
}

.homeSectionTop {
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.backgroundHome {
    height: 500px;
    width: 650px;
    background: url("https://i.imgur.com/LcYtuUg.jpg");
    background-size: cover;
}

.navbar {
    text-align: center;
    margin-top: 16px;
}

.navLinks a {
    padding: 20px;
    font-family: 'Philosopher', sans-serif;
    font-size: 17px;
    color: solid black;
    text-decoration: none;
}
.navLinks a:hover {
    transition: box-shadow .15s;
    color: solid white;
    background: rgb(204,220,193);
    box-shadow: 0px 4px 0px 0px rgb(119,137,121);
}

.footer {
    height: 40px;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    font-size: 12px;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 2% auto;
    margin-bottom: 80px;
}

.singleProduct {
    display: flex;
    height: 150px;
    width: 150px;
    padding: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.thumbnail {
    width: 110%;
    height: 120%;
  }
  
.productImage {
    height: 150px;
    width: 150px;
  }
  
.productName {
    margin-top: 40px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
  }

.allProductsButtonSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.allProductsButton {
    height: 40px;
    width: 180px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.allProductsButton a {
    text-decoration: none;
}

.allProductsButton:hover {
    background: rgb(204,220,193);
}

.singleProductContainer {
    display: flex;
    margin-top: 40px;
    font-family: 'Philosopher', sans-serif;
}

.image {
    margin-top: 20px;
}

.singleRight {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
}

.singleLeft {
    height: 100%;
    width: 500px;
    margin-left: 20px;
}

.addToCartButton {
    margin-top: 30px;
    height: 40px;
    width: 180px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.addToCartButton:hover {
    background: rgb(204,220,193);
}

.backToAllButton {
    height: 40px;
    width: 200px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.backToAllButton:hover {
    background: rgb(204,220,193);
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 370px;
    width: 480px;
    border: 1px solid black;
    border-radius: 5px;
}

.signupPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    background: url("https://i.imgur.com/INhCLYa.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}

.inputForm {
    margin: 20px;
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

.headerForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 300px;
}

.headerForm p {
    cursor: pointer;
}

.headerForm a:hover {
    color: rgb(119,137,121);
}

.headerForm a {
    text-decoration: none;
}

.signupButton {
    height: 40px;
    width: 150px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.signupButton:hover {
    background: rgb(204,220,193);
}

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    background: url("https://i.imgur.com/INhCLYa.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 370px;
    width: 480px;
    border: 1px solid black;
    border-radius: 5px;
}

.loginButton {
    height: 40px;
    width: 150px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.loginButton:hover{
    background: rgb(204,220,193);
}

.productName a {
    text-decoration: none;
}

.myCartList {
    display: flex;
    margin-top: 25px;
    padding: 20px;

    height: 100%;
    width: 800px;
}

.cartProductImage {
    height: 150px;
    width: 150px;
    margin: 10px;
    margin-bottom: 30px;
}

.cartProductDescription {
    margin: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Philosopher', sans-serif;
    height: 150px;
    width: 150px;
}

.cartProductDescription a {
    text-decoration: none;
}

.cartProductPrice {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 260px;
    font-family: 'Philosopher', sans-serif;
    height: 150px;
    width: 150px;
}

.removeFromCartButton {
    height: 40px;
    width: 140px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none
}

.removeFromCartButton:hover {
    background: rgb(204,220,193);
}

.cartContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.cartEmpty {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin-top: 25px;
}

.totalPrice {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    margin-left: 56px;
}

.checkoutButton {
    height: 40px;
    width: 180px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.checkoutButton:hover {
    background: rgb(204,220,193);
}

.checkoutCart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.orderNumber {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Philosopher', sans-serif;
}

.singleOrder {
    display: flex;
}

.productDetails {
    margin-left: 30px;
    font-family: 'Philosopher', sans-serif;
}

.orderHeader {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin-top: 25px;
}

.orderDetails {
    font-family: 'Philosopher', sans-serif;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20px;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.checkoutForm input {
    margin: 10px;
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

.submitCheckout {
    height: 40px;
    width: 180px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.submitCheckout:hover {
    background: rgb(204,220,193);
}



